################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Telefonia/.vs/Telefonia/v16/Server/sqlite3
